.sliderBox {
    overflow: hidden;
    border-radius: 1rem;
    background-color: black;
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.SliderImg {
    height: 550px;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 1600px;
    width: 100%;
    object-fit: cover;
    opacity: .4;
    animation: scaleImage 20s infinite;
}

.sliderBox>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 10;
    color: white;
    gap: 1rem;
}

.SliderBtn {
    padding: .7rem 2rem;
    border-radius: .5rem;
    background-color: white;
    color: var(--bg-maroon);
    font-weight: bold;
    transition: all .3s;
}

.SliderBtn:hover {
    background-color: var(--bg-maroon);
    color: white;
}


/* Product Slider  */

.sliderProBox {
    height: 400px;
    padding: 1rem;
    border-radius: .5rem;
    transition: all .3s;
    border: 1px solid var(--bg-gray);
    background-color: white;
}

.sliderProBox:hover {
    box-shadow: 0 2px 30px rgb(228, 228, 228);
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute !important;
    right: 0;
}

/* animation Image  */
@keyframes scaleImage {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}



/* respansive mobile and tablet */

@media screen and (max-width: 768px) {

    .sliderBox>div>h1 {
        font-size: 1.5rem !important;
    }

    .SliderBtn {
        padding: .5rem 1rem;
        border-radius: .5rem;
        font-weight: 500;
        font-size: .8rem !important;
    }

    .sliderProBox {
        height: 300px;
    }
}

@media screen and (max-width: 425px) {

    .sliderBox>div>h1 {
        font-size: 1rem !important;
    }
}