.AboutCart {
    background-color: var(--bg-gray);
    height: 67vh;
    padding: .3rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
}

.AboutMeImg {
    height: 100%;
}

.AboutMeImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.AboutDetile h5{
    margin: 1rem 0;
}

@media screen and (max-width: 1024px) {
    .AboutCart{
        height: 100vh;
        margin-bottom: 4rem;

    }
}

@media screen and (max-width: 768px) {
    .AboutCart {
        margin-bottom: 9rem;
        height: max-content;
    }

    .AboutDetile h5 {
        font-size: .9rem;
        margin: 1rem 0;
    }
}